/* -------------------- */
/* Custom Properties    */
/* -------------------- */
@font-face {
  font-family: 'Ubuntu';
  src: url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root {
    /* Colors */
    --blue-5: hsl(213, 96%, 18%);
    --blue-4: hsl(228, 100%, 84%);
    --blue-3: hsl(206, 94%, 87%);
    --blue-2: hsl(218, 100%, 97%);
    --blue-1: hsl(231, 100%, 99%);
    --purple-2: hsl(243, 100%, 62%);
    --purple-1: hsl(229, 24%, 87%);
    --red: hsl(354, 84%, 57%);
    --grey:  hsl(231, 11%, 63%);
    --white: hsl(0, 100%, 100%);

    /* Typography */
    /* font-families */
    --ff-sans: "Ubuntu", sans-serif;
}

/* For accessibility (Screen Reader Only) */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.step-item--active .step-number {
    background-color: var(--blue-3);
    color: var(--blue-5);
}

.plan-card:has(.plan-card__input:checked),
.addon:has(.addon__input:checked) {
    border-color: var(--purple-2);
    background-color: var(--blue-1);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
